html {
    --bgcolor: #423E37;
    --color: #EDEBD7;
    --color2: #177E89;
    --buttoncolor: #E3B23C;
    --textareacolor: #6E675F;
    --textbordercolor: #E3B23C;
    --fonttype: Arial;
    --fontsize: 15px;
    
}